#section-1{
  height: 100vh;
  width: 100%;

  position: relative;
  display:flex;
}

#header{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  justify-content: flex-end;
}

.menu{
  display: flex;
  flex: 0.5;
  align-items: center;  
  justify-content: flex-start;
  gap: 58px;
  margin-left: 75px;
}

.menu-link{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu-link > a{
  color:white;
  text-decoration: none;
}

.menu-link-bottom-line{
  display: block;
  height: 2px;
  width: 18px;
  background: #4CAF50;
}

.active-link .menu-link-bottom-line{
  width: 110%;
}

.welcome-bg{
  display: flex;
  flex: 1;
  background-image:  url("./assets/welcome-image.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 42% 86%;
}

.section-1-content{
  display: flex;
  flex: 1;
  background: radial-gradient(circle, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 65%);
}

.phrase{
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 24px;
  
  cursor: default;
  text-align: center;
  color: #fff;  
}

.phrase h1{
  font-size: 72px;
  font-weight: 500;
  margin: 0;
}

.phrase p{
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  curs
}

#pagination-wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination{
  display: flex;
  gap: 9px;
  align-items: flex-end;
}

.pagination-item > p{
  color: rgba(255, 255, 255, 0.44);
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  cursor: pointer;
}

.active-pagination-item > p{
  font-size: 36px;
  color: #fff;
}