html {
  scroll-behavior: smooth;
  }

#section-1,
#section-2,
#section-3,
#section-5 {
  height: 100vh;
  width: 100%;

  position: relative;
  display:flex;
}

#section-4,
#section-6,
#section-7,
#section-8 {
  display: flex;
}

#section-3, #section-5 {
  height: 75vh;
}

#header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  justify-content: flex-end;
}

.menu {
  display: flex;
  flex: 0.5;
  align-items: center;  
  justify-content: flex-start;
  gap: 58px;
  margin-left: 75px;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu-link > a {
  color:white;
  text-decoration: none;
}

.menu-link-bottom-line {
  height: 2px;
  width: 18px;
  background: #4CAF50;
}

.menu-link:hover .menu-link-bottom-line {
  width: 110%;
  transition: 0.5s ease;
}

.menu-link:not(:hover) .menu-link-bottom-line {
  transition: 0.5s ease;
}

.welcome-bg {
  display: flex;
  flex: 1;
  background-image:  url("./assets/welcome-image.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 42% 86%;
}

.section-1-content {
  display: flex;
  flex: 1;
  background: radial-gradient(circle, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 65%);
}

.phrase {
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 24px;
  
  cursor: default;
  text-align: center;
  color: #fff;  
}

.phrase h1 {
  font-size: 72px;
  font-weight: 500;
  margin: 0;
}

.phrase p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

#pagination-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  gap: 9px;
  align-items: flex-end;
}

.pagination-item > p {
  color: rgba(255, 255, 255, 0.44);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.active-pagination-item > p {
  font-size: 36px;
  color: #fff;
  line-height: 40px;
} 

.we-are-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.we-are-widget {
  position: relative;
  height: 560px;
  width: 1100px;
}

#we-are-sqwd {
  position: absolute;
  top: 0;
  left: 0;

  width: 590px;
  height: 410px;

  background-image: url(./assets/man-face-large.png);
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-size: contain;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  z-index: 2;
} 

.we-are-header {
  color: #333;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 60px;
}

.sqwd-header {
color: #504E4E;
font-size: 42px;
font-style: normal;
font-weight: 300;
letter-spacing: 2px;

margin-bottom: 32px;
}

.we-are-description {
  display: flex;
  gap: 10px;
  margin-left: 21px;
}

.we-are-description > span {
  width: 20px;
  height: 2px;
  background-color: #353535;
  margin-top: 12px;
}

.we-are-description > p {
  width: 280px;

  color: #5B5858;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 166.667% */
  letter-spacing: 1px;
}

#green-box {
  position: absolute;
  top: 63px;
  left: 403px;

  width: 309px;
  height: 418px;

  opacity: 0.8;
  background: #4CAF50;
  
  z-index: 1;
}

#we-are-full-frame {
  z-index: 0;
  position: absolute;

  top: 168px;
  left: 613px;

  width: 560px;
  height: 391px;

  background-image: url(./assets/man-full-frame.png);
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#we-are-full-frame > .we-are-description {
  margin-top: 175px;
}

.our-services-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: #FBFBFB;
}

.our-services-title-block > span {
  display: block;

  height: 2px;
  width: 45px;

  margin-top: 7px;

  background: #252525;
}

.our-services-title {
  color: #252525;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
}

.our-services-list-block {
  display: flex;
  justify-content: space-between;
  gap: 28px;

  margin-top: 85px;
}

.our-services-list-item {
  width: 373px;
  height: 260px;
  background: white;
  border-bottom: 3px solid transparent;
}

.services-list-item-content-wrapper {
  margin: 50px 48px 35px 44px;
}

.services-card-title {
  display: flex;
  justify-content: space-between;
}

.services-card-title h2 {
  color: #252525;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.services-card-title span {
  display:block;
  height: 2px;
  width: 35px;
  background: #252525;
}

.service-card-icon {
  background: #FFF;
  box-shadow: 0px 0px 20px #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  filter: lightgray 0px 0px / 100% 100% no-repeat;
 }

 .service-card-icon > img {
  width: 24px;
  height: 24px;
  padding: 13px;
  opacity: 0.5;
 }

.services-card-description > p {
  color: #777;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 208.333% */
  letter-spacing: 1.008px;
  margin: 19px 0;
}

.services-card-more > a {
  color: #252525;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  opacity: 0.5;
}

.our-services-list-item:hover {
  border-bottom: 3px solid #70BF73;
  transition: 1s ease;
}

.our-services-list-item:not(:hover) {
  transition: 0.4s ease;
}

.our-services-list-item:hover .service-card-icon > img {
  opacity: 1;
  transition: 1s ease;
}

.our-services-list-item:not(:hover) .service-card-icon > img {
  transition: 0.4s ease;
}

.our-services-list-item:hover .services-card-more > a {
  opacity: 1;
  transition: 1s ease;
}

.our-services-list-item:not(:hover) .services-card-more > a {
  transition: 0.4s ease;
}

.latest-work-wrapper {
  margin: 170px 0;

  width: 100%;
  height: 1652px;

  display: flex;
  justify-content: center;
} 

.latest-work-widget {
  width: 1185px;
  
  position: relative;
}

.navigation-widget {
  position: absolute;
  top: 0;
  left: 0;

  padding-top: 45px;
}

.navigation-block {
  display: flex;
  gap: 40.5px;
}

.navigation-block > a {
  color: #252525;
font-size: 13px;
font-style: normal;
font-weight: 400;
letter-spacing: 1px;
text-decoration: none;
opacity: 0.3;
}

.navigation-block > a:hover, .navigation-block > a.active, .view-more-latest-work:hover {
  text-shadow: 0 0 .65px #252525, 0 0 .65px #252525;
  opacity: 1;
  transition:0.5s ease;
}

.navigation-block > a:not(:hover), .view-more-latest-work:not(:hover) {
  transition:0.3s ease;
}

.navigation-title-block {
  margin-bottom: 51px;
}

.navigation-title {
  color: #252525;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
}


.navigation-title-block span {
  display: block;

  height: 2px;
  width: 45px;

  margin-top: 7px;

  background: #252525;
}

.even-card, .odd-card {
  cursor: pointer;
}

.even-card {
  width: 584px;
  height: 556px;

  display: flex;
  justify-content: flex-end;

}

.even-card .overflow-layout {
  position: absolute;
  left: 0;
  top: 262px;
}

.even-card-layout > img {
  width: 455px;
  height: 444px;
}

.overflow-layout > p {
  color: #252525;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  display: inline;
}

.even-card-layout {
  display: flex;
  flex-direction: column;
}

.even-card-info {
  width: 70%;
  text-align: end;
}

.card-info > h4 {
  margin-top: 24px;
  margin-bottom: 17px;

  color: #252525;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.card-info > p {
  color: #C2C2C2;
  font-size: 13px;
  font-weight: 300;

  margin-bottom:20px;
}

.card-info > span {
  color: #252525;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline;
  opacity: 0;
}

.camera-card {
  position: absolute;
  right:0;
  top:0;
}

.odd-card {
  width: 583px;
  height: 596px;
  
  display: flex;
  justify-content: flex-start;
}


.odd-card .overflow-layout {
  position: absolute;
  right: 0;
  top: 268px;
}

.odd-card-layout {
  display: flex;
  flex-direction: column;
}

.cat-card {
  position: absolute;
  left: 0;
  top: 358px;
}

.odd-card-info {
  width: 70%;
  align-self: self-end;

}

.mac-card {
  position: absolute;
  top: 729px;
  right: 0;
}

.macbook-card {
  position: absolute;
  left: 0;
  top: 1094px;
}

.view-more-latest-work {
  position: absolute;
  right: 0;
  bottom: 0;

  color: #252525;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  
  cursor: pointer;
}


.even-card:hover span, .odd-card:hover span {
  opacity: 1;
  transition: 0.5s ease;
  }

.even-card:not(:hover) span, .odd-card:not(:hover) span {
  transition: 0.3s ease;
  }

.custom-strikethrow {
  position: relative;
}

.custom-strikethrow::after {
  position: absolute;
  bottom: 42%;

  display: block;
  content: '';
  height: 3px;
  width:0%;
  background-color: #70BF73;
} 

.even-card .custom-strikethrow::after {
  right: 0;
}

.even-card:hover .custom-strikethrow::after, .odd-card:hover .custom-strikethrow::after {
  width: 100%;
  transition: 0.5s ease;
}

.even-card:not(:hover) .custom-strikethrow::after, .odd-card:not(:hover) .custom-strikethrow::after {
  transition: 0.3s ease;
}

.team-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: #FBFBFB;
}

.team-title-block > span {
  display: block;

  height: 2px;
  width: 45px;

  margin-top: 7px;

  background: #252525;
}

.team-title {
  color: #252525;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
}

.team-list-block {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  margin-top: 85px;
}

.team-card {
  position: relative;
}

.team-card-img {
  top: 0;
  left: 0;
  filter: grayscale(100%);
}

.team-card:hover .team-card-img {
  transition: 0.5s ease;
  filter: grayscale(0);
}

.team-card:not(hover) .team-card {
  transition: 0.3s ease;
}

.team-card-title-wrapper {
  position: absolute;
  width: 100%;
  bottom:0;
  left:0;
  height: 55px;
  overflow: hidden;
}

.team-card:hover .team-card-title-wrapper {
  transition: 0.5s ease;
  height:155px;
}

.team-card:not(hover) .team-card-title-wrapper {
  transition: 0.3s ease;
}

.team-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.team-card:hover .team-card-bg {
  opacity: 0.95;
  transition: 0.5s ease;
}

.team-card:not(hover) .team-card-bg {
  transition: 0.3s ease;
}

.team-card-info {
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 1;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.team-card-info > h5, .team-card-info > h6 {
  color: #252525;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
}

.team-card-info > h5 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.team-card-info > h6 {
  margin-bottom: 8px;
}

.team-card-info > p {
  color: #777;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 208.333% */
  letter-spacing: 1px;
}

.team-card-info span {
  width: 45px;
  height: 2px;
  display:block;
  margin-bottom: 15px;
  content: '';
  background-color: #252525;
}

.review-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.review-qoute {
  width: 735px;
  color: #373737;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 31px; /* 221.429% */
  letter-spacing: 1px;

  margin-top: 117px;
  margin-bottom: 31px;
}

.review-qoute-symbol {
  width: 20px;
  height: 20px;

  margin-bottom: 29px;
}

.review-name {
  color: #373737;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;

  margin-bottom: 25px;
}

.review-name > .review-services {
  color: #B8B8B8;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
}

.review-score {
  display: flex;
  flex-direction: row;
  gap: 9px;
  justify-content: center;
}

.review-score-inactive {
  opacity: 0.2;
}

.review-navigation {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.review-arrow-left {
  position: absolute;
  left: 0;
  rotate: 180deg;
}

.review-arrow-right {
  position: absolute;
  right: 0;
}

.review-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 117px;
}

.review-line > span {
  width: 511px;
  height: 1px;
  display: block;
  content: '';
  opacity: 0.5;
  background-color: #D8D8D8;
}

.cta-wrapper {
  width:100%;
}

.cta-widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cta-widget h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 22px;
}

.cta-widget p {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
}

.cta-icon {
  margin-top: 70px;
  margin-bottom: 20px;
}

.go-icon {
  margin-top: 23px;
  margin-bottom: 70px;
}

.brief-button {
  background-color: #FBFBFB;
  width: 100%;
  color: #373737;
}

.contact-us-button {
  background-color: #70BD59;
  width: 100%;
  color: #ffffff;
}

.contacts {
  background: #2E2E2E;
  color: white;
  text-align: center;
  
  padding-top: 142px;
  padding-bottom: 40px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-bottom: 40px;
}

.footer-info > p, .footer-copyright > p{
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  opacity: 0.5;
}

.footer-social-media {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:21px;
}

.footer-social-media-item {
  padding:10px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.footer-social-media-item img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  filter: invert(100%);
}

.footer-social-media-item:hover {
  background: white;
  transition: 0.5s ease;
}

.footer-social-media-item:hover img {
  filter: invert(30%);
  transition: 0.3s ease;
}

.footer-copyright {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #252525;
}

.footer-copyright > p {
  padding: 20px 0; 
}